@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 217.2 32.6% 51.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 150 50% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 217.9 48.6% 67.3%;
    --radius: 0.5rem;

    /* Custom colors */
    --dw-blue: 210 71% 53%; /*#3498db*/
    --dw-light-gray: 220 13% 94%; /*#ecf0f1*/
    --dw-green: 142 61% 44%; /*#2ecc71*/
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --primary: 217.2 32.6% 41.8%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 26.1%;
    --secondary-foreground: 222.2 47.4% 1.2%;
    --accent: 150 50% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 217.9 48.6% 57.3%;
    --radius: 0.5rem;

    /* Custom colors dark mode*/
    --dw-blue: 210 71% 63%; /*#3498db*/
    --dw-light-gray: 220 13% 14%; /*#ecf0f1*/
    --dw-green: 142 61% 54%; /*#2ecc71*/
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Arial', sans-serif;
  }
}

/* Semantic classes for custom colors */
.text-dw-blue {
  color: hsl(var(--dw-blue));
}

.bg-dw-light-gray {
  background-color: hsl(var(--dw-light-gray));
}

.text-dw-green {
  color: hsl(var(--dw-green));
}

.bg-dw-green {
  background-color: hsl(var(--dw-green));
}
